aside {
    width: 20%;
    height: 100vh;
    float: left;
    color: #010101;
    background-color: var(--light-blue);
}

ul {
    list-style-type: none;
    margin: 24px 0 0 0;
    padding: 0;
}

li {
    text-align: left;
    margin-left: 24px;
}

li > a {
    text-decoration: none;
    color: #010101;
}

li > a:hover {
    color: #F0F0F0;
}

p {
    font-family: 'Fira Sans', sans-serif;
}
